.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(187, 97, 18);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    top: 60px;
    right: 0px;
    left: -50px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}