.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* hero section starts  */
/* small device  600px below */
@media only screen and (max-width: 600px) {
    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
        top: 65px;
        right: 22px;

    }

    .heroHead {
        font-size: 16px;
        font-weight: 800;
        text-align: end;
        padding-bottom: 10px
    }

    .heroBtn {}
}

/* large device  600px and up) */
@media only screen and (min-width: 600px) {
    .relative {
        position: relative;
    }

    .absolute {
        position: absolute;
        top: 200px;
        right: 50px;
    }
}

/* hero section end  */