.descriptions {

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.blogContainer {
    padding: 0 80px
}

.blogImg {
    width: 800px;
    height: 300px;
    object-fit: cover;
}